################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Source Code/packages
/Source Code/.vs/SoftwareDev/FileContentIndex/0479a648-17e2-4c69-9aee-be752f402b72.vsidx
/Source Code/.vs/SoftwareDev/FileContentIndex/3f771ac1-ae25-490d-a329-1bd95811d1d5.vsidx
/Source Code/.vs/SoftwareDev/FileContentIndex/51d4aa8d-aacb-462e-abc8-96de0f86207b.vsidx
/Source Code/.vs/SoftwareDev/FileContentIndex/7f92e2ce-e5e6-4b9e-b1cf-253a7732cb1c.vsidx
/Source Code/.vs/SoftwareDev/FileContentIndex/ba701d0a-e540-4ade-93b1-1166862ea997.vsidx
/Source Code/.vs/SoftwareDev/FileContentIndex/cea91a30-c943-459d-a332-6fb4a9b9c1dd.vsidx
/Source Code/.vs/SoftwareDev/FileContentIndex/read.lock
